/* ESTILO GERAL */
@keyframes fundoAnimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    animation: fundoAnimado 5s infinite;
    background: linear-gradient(-45deg, #227272, #0c0c0c, #30a7a7);
    background-size: 400% 400%;
    transition: background 5s ease;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: white;
    font-size: 33px;
    text-align: center;
}

button:hover {
    box-shadow: 0px 0px 8px rgb(76, 249, 255);
    transform: scale(1.05);
    transition: .2s;
}

h2.titulo span {
    color: rgb(76, 249, 255);
    font-size: 33px;
    text-align: center;
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: rgb(76, 249, 255);
    transform: scale(1.05);
}

header nav.menu-desktop ul {
    list-style-type: none;
}

header nav.menu-desktop li {
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO MENU MOBILE*/
.ph-abrir menu i{
    color: rgb(76, 249, 255);
    font-size: 40px;
}

.menu-mobile{
    background-color: rgb(1, 15, 15);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
}

.menu-mobile .ph-fechar i{
    color: rgb(76, 249, 255);
    font-size: 30px;
}

.menu-mobile .ph-fechar{
    padding: 20px 5%;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav li a:hover{
    background-color: rgb(76, 249, 255);
    color: #fff;
}

.overvaly-menu{
    background-color: #010f0f;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
}
/*Fim do menu mobile*/

/* Estilo do botão contato*/
.ph-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(76, 249, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
/*Configurações do Dropdown*/

.contato-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #00ffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #222;
}

/*Fim do Dropdown*/

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 33px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: rgb(76, 249, 255);
}

.topo-do-site .txt-topo-site p {
    color: white;
    margin: 40px 0;
}

.topo-do-site .txt-topo-site h3 {
    color: white;
    font-size: 37px;
}


.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*ESTILO DAS ESPECIALIDADES*/
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 1px;
}

.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.452);
}

.especialidades .especialidades-box i {
    font-size: 49px;
    color: rgb(76, 249, 255);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/*ESTILO SOBRE*/

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .img-sobre img {
    border-radius: 50px;
    object-fit: cover;
}

.txt-sobre span {
    color: rgb(76, 249, 255);
}

.sobre .txt-sobre {
    color: white;
}

.sobre .txt-sobre h2 {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: rgb(76, 249, 255);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.ph-social button {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: rgb(76, 249, 255);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
}

/*ESTILO DO PORTFOLIO*/

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px #ffffff17;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
    text-align: center;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 5s;
}

.overlay:hover {
    opacity: 1;
}

.portfolio h2 {
    color: white;
    font-size: 33px;
    text-align: center;
}

.portfolio h2 span {
    color: rgb(76, 249, 255);
    font-size: 33px;
    text-align: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    box-shadow: black 0px 0px 8px 2px;
}

.portfolio-item h3{
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.portfolio-img h3{
    color: white;
    font-size: 23px;
    text-align: center;
    margin-top: 10px;
}

.portfolio-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*ESTILO DO FORMULARIO DE CONTATO */

section.formulario {
    padding: 80px 4px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    width: 100%;
    background-color: rgba(39, 39, 39, 0.459);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: rgb(76, 249, 255);
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: 2s;
}

/*ESTILO DO RODAPÉ*/

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff17;
}

footer .flex {
    justify-content: space-between;

}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid rgb(76, 249, 255);
}

footer .line-footer p i {
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

@media screen and (max-width: 1020px) {

    /*CLASSES GERAIS*/
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /*CABEÇALHO*/
    .menu-desktop,
    .ph-contato {
        display: none;
    }

    /*TOPO DO SITE*/

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    /*ESPECIALIDADES*/

    section.especialidades {
        padding: 40px 8%;
    }

    /*SOBRE*/

    section.sobre {
        padding: 80px 8%;
    }
    
    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .ph-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
        height: 100%;
    }

    /*PORTFOLIO*/
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 360px;
        height: 450px;
        background-size: cover;
        background-position: 100% 0%;
        transition: 8s;
        border-radius: 40px;
        position: relative;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
        gap: 60px;
    }

    /*RODAPÉ*/
    footer .flex {
        flex-direction: column;
    }

    footer .line-footer {
        text-align: center;
    }
    
    section.formulario titulo{
        gap: 60px;
    }
}